header{
    padding: 32px;
    font-size: medium;
}
main{
    display: flex;
    justify-content: flex-start;
    gap:20px;
    padding: 16px;
}
ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    list-style: none;
}

li{
    border: 1px solid red;
    padding: 20px;
    border-radius: 8px;
}